$bg: #E7E7E5 ;
$discreet: #7D7D7D;
$accent: #EF0100;

#about {
    padding: 3rem;
    margin-top: 3rem;
    .title {
        color:$accent;
        font-size: 3.5em;
    }
    .aboutParagraph {
        margin-top: 2rem;
        font-size: 1.1em;
        // letter-spacing: 0.5em;
        line-height: 1.7rem;
    }
    #cta {
        margin-top: 3rem;
        border: none;
        width: 8rem;
        height: 3rem;
        border-radius: 5rem;
        color: $bg;
        background-color: black;
        font-size: 1.4em;
        cursor: pointer;
    }
    #cta:hover {
        background-color: $accent;
    }

}


